<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group ">
      <label class="control-label requiredField" for="user">
        Usuario <span class="asteriskField">*</span>
      </label>
      <div class="row">
        <div class="col-md-10">
          <select class="select form-control" id="user" name="user" [(ngModel)]="booking.userId" required>
            <option *ngFor="let user of users | userSearch:filters.user" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <app-user></app-user>
        </div>
      </div>
    </div>
    <div class="form-group ">
      <label class="control-label requiredField" for="car">
        Carro <span class="asteriskField">*</span>
      </label>
      <div class="row">
        <div class="col-md-10">
          <select class="select form-control" id="car" name="car" [(ngModel)]="booking.carId" required>
            <option *ngFor="let car of cars | carSearch:filters.car" value="{{car.id}}">{{car.brand}} - {{car.type}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <app-car></app-car>
        </div>
      </div>
    </div>
    <div class="form-group ">
      <label class="control-label requiredField" for="startDate">
        Fecha de inicio <span class="asteriskField">*</span>
      </label>
      <div class="input-group">
        <input class="form-control" id="startDate" name="startDate" placeholder="YYYY-MM-DD" type="text" required #startDate [(ngModel)]="booking.startDate" (blur)="booking.startDate = startDate.value" />
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
      </div>
    </div>
    <div class="form-group ">
      <label class="control-label requiredField" for="endDate">
        Fecha de entrega <span class="asteriskField">*</span>
      </label>
      <div class="input-group">
        <input class="form-control" id="endDate" name="endDate" placeholder="YYYY-MM-DD" type="text" required #endDate [(ngModel)]="booking.endDate" (blur)="booking.endDate = endDate.value" />
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
      </div>
    </div>
    <div class="form-group ">
      <label class="control-label " for="detail">
        Detalle
      </label>
      <textarea class="form-control" cols="40" id="detail" name="detail" rows="10" [(ngModel)]="booking.detail"></textarea>
    </div>
  </form>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="form-group ">
      <label class="control-label " for="text">
        Filtros
      </label>
      <div class="input-group">
        <input class="form-control" id="find-user" name="find-user" placeholder="Usuario" type="text" [(ngModel)]="filters.user" />
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
    <div class="form-group ">
      <label class="control-label " for="text">
        <br>
      </label>
      <div class="input-group">
        <input class="form-control" id="find-car" name="find-car" placeholder="Carro" type="text" [(ngModel)]="filters.car" />
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="form-group">
      <div>
        <label class="control-label " for="text">
          <br>
        </label>
        <div class="input-group">
          <button class="btn btn-primary" name="submit" type="submit" (click)="addBooking()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>