<button type="button" id="add-user" name="add-user" class="btn btn-success" (click)="modal.open()">+</button>
<modal #modalUser (onClose)="clearForm()">
    <modal-header [show-close]="true">
        <h4 class="modal-title">Agregar usuario</h4>
    </modal-header>
    <modal-body>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group ">
                    <label class="control-label requiredField" for="firstName">
                        Nombre <span class="asteriskField">*</span>
                    </label>
                    <input class="form-control" id="firstName" name="firstName" placeholder="Nombre" type="text" [(ngModel)]="user.firstName" />
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="lastName">
                        Apellidos <span class="asteriskField">*</span>
                    </label>
                    <input class="form-control" id="lastName" name="lastName" placeholder="Apellidos" type="text" [(ngModel)]="user.lastName" />
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="phone">
                        Tel&eacute;fono <span class="asteriskField">*</span>
                    </label>
                    <input class="form-control" id="phone" name="phone" placeholder="Tel&eacute;fono" type="text" [(ngModel)]="user.phone" />
                </div>
                <div class="form-group">
                    <div>
                        <button class="btn btn-primary " name="submit" type="submit" (click)="addUser()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
        <button type="button" class="btn btn-default" (click)="modalUser.close()">Close</button>
        <!--<button type="button" class="btn btn-primary" (click)="modal.close()">Ok</button>-->
    </modal-footer>
</modal>