#btn_icon-plan {
    position: fixed;
    width: 75px;
    height: 75px;
    background-size: contain;
    z-index: 4;
    text-indent: -9999px;
    bottom: 125px;
    right: 15px;
    cursor: pointer;
}
#btn_icon-plan:hover {
    opacity: 0.8;
}
.add-planCurricular {
    background-image: url(../images/add.png);
}
.close-planCurricular {
    background-image: url(../images/close.png);
}
.overlay-planCurricular {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #f5f5f5;
    opacity: 0.7;
}
#icon_list {
    display: none;
    position: fixed;
    width: 300px;
    z-index: 4;
    bottom: 210px;
    right: 15px;
}
#icon_list ul {
    padding-left: 0;
}
#icon_list li {
    position: relative;
    list-style: none;
    cursor: pointer;
}
#icon_list li .title {
    position: absolute;
    background-color: #789aa2;
    border-radius: 25px;
    color: #fff;
    right: 75px;
    bottom: 11px;
    padding: 6px 15px 6px 15px
}
#icon_list li .circle {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid dimgray;
    right: 15px;
    bottom: 5px;
}
#icon_list li span.icon {
    position: absolute;
    width: 32px;
    height: 32px;
    background-size: contain;
    text-indent: -9999px;
    right: 6px;
    bottom: 6px;
}
.icon-planCurricular {
    background-image: url(../images/plan-curricular.png);
}
.show {
    display: block;
}