<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{title}}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#/booking">Reserva <span class="sr-only">(current)</span></a>
          </li>
          <!--<li><a href="#/user">Usuario</a></li>
          <li><a href="#/car">Carro</a></li>-->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
  <span id="btn_icon-plan" class="add-planCurricular">+</span>
  <div id="icon_list">
    <div>
      <ul>
        <li>
          <span class="title">Crear plan curricular</span> 
          <div class="circle">
            <span class="icon icon-planCurricular">-</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="overlay-planCurricular"></div>
</div>