<button type="button" id="add-car" name="add-car" class="btn btn-success" (click)="modal.open()">+</button>
<modal #modalCar (onClose)="clearForm()">
    <modal-header [show-close]="true">
        <h4 class="modal-title">Agregar carro</h4>
    </modal-header>
    <modal-body>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group ">
                    <label class="control-label requiredField" for="brand">
                        Marca <span class="asteriskField">*</span>
                    </label>
                    <input class="form-control" id="brand" name="brand" placeholder="Nombre" type="text" [(ngModel)]="car.brand" />
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="plate">
                        Placa <span class="asteriskField">*</span>
                    </label>
                    <input class="form-control" id="plate" name="plate" placeholder="Apellidos" type="text" [(ngModel)]="car.plate" />
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="type">
                        Tipo de vehiculo <span class="asteriskField">*</span>
                    </label>
                    <select class="select form-control" id="type" name="type" [(ngModel)]="car.type" required>
                        <option *ngFor="let item of car.type | keys" [value]="item.key">{{item.value}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div>
                        <button class="btn btn-primary " name="submit" type="submit" (click)="addCar()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
        <button type="button" class="btn btn-default" (click)="modalCar.close()">Close</button>
        <!--<button type="button" class="btn btn-primary" (click)="modal.close()">Ok</button>-->
    </modal-footer>
</modal>